@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Caprasimo&family=Comfortaa:wght@300;400;500;600;700&family=Julee&family=Raleway&family=Roboto:wght@300;400;500;700&family=Victor+Mono&display=swap');

.card img {
    float: left;
    width:  30rem;
    height: 18rem;
    object-fit: cover;
}
.screen{
    margin: 0;
    padding: 0;
    width: 98vw;
    height:fit-content;
}